body{
    background-color: #7a1c5b;
    color: white;
    font-family: Arial, sans-serif;
}
header {
    display: flex; 
    align-items: center; 
    gap: 20px;
    
}
header h1{
    color: #937207;
}
header a button{
    margin-left: auto;
    padding: 10px 20px ;
    background-color: #937207;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.titulo{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    color: #f3d97c;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
}
.card{
    background-color:#ffffff18 ;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}
.card h3{
    font-size: 22px;
    margin-top: 15px;
    color: #f3d97c;
}
.card p{
    font-size: 18px;
    margin-top: 10px;
}
.card .btns{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btnConfirmar, .btnCancelar{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #937207;
}
.btnCancelar{
    background-color: #a30000;
}
.btnConfirmar:hover{
    background-color: #b28800;
}
.btnCancelar:hover{
    background-color: #cc0000;
}