body { 
    background-color: #7a1c5b;
    color: white;
}

header{
    display: flex; align-items: center; gap: 20px;
    flex-direction: row;
    
}

header h1,
header h2{
    color:#937207;
    margin: 0;
}
header a button{
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #937207;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
header a{
    margin-left: auto;
}

.servicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}
.promocoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;

}

.card{
    background-color: #ffffff15;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: white;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.card p{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.card span{
    display: block;
    margin-top: 5px;
    font-size: 25px;
    color: #937207;
}
.card a button{
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #937207;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}